.container{
    border:8px solid black;
    border-radius: 40px;
    margin-left:35%;
    width:400px;
    height:700px;
    position: fixed;
}
.nav{
    margin: 0px;
    padding: 0px;
    background-color: rgb(60, 59, 59);
    border-radius: 25px 30px 1px 1px;
    width:400px;
    height:70px;
    position: relative;
}
.navs1{
    width:37px;
    height:40px;
    display: inline-block;
    position: relative;
    top:9px;
    left:10px;
}
#videoicon{
    margin-right:10px;
}
.icon1 i{
    font-size: 25px;
    color:white;
    position: absolute;
    top:5px;
}
.navs2{
    width:50px;
    height:50px;
    display: inline-block;
    position: relative;
    top:12px;
    left:10px;
}
.profile{
    width:45px;
    height:45px;
    border-radius:50%;
    position: absolute;
    top:0px;
}
.pic{
    width:45px;
    height:45px;
    border-radius:50%;
}
.navs3{
    width:160px;
    height:50px;
    display: inline-block;
    position: relative;
    top:10px;
    left:10px;
}
pre{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 16px;
    color: white;
    position: absolute;
}
.messagesec{
    height:570px;
    position: relative;
}
.messagesbackimg{
    width:100%;
    height: 100%;
}
.messages{
    width:397px;
    height: 570px;
    position: absolute;
    top:0px;
    overflow: scroll;
    scrollbar-width: none;
}
.date p{
    background-color:burlywood;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 10px;
    margin: 0px;
    margin-left: 38%;
}
p{
    background-color: white;
    border-radius: 5px;
    margin: 3px;
    padding: 2px 5px 2px 5px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    display: inline-block;
}
.msg1{
    padding: 0px;
}
.msg2{
    text-align: right;
    margin-left:50%;
}
.date{
    position:sticky;
    top:0px;
}
sub{
    font-size: 10px;
}
.media{
    height:60px;
    background-color: black;
    border-radius: 0px 0px 30px 30px;
}
.inputmsg{
    border-radius: 25px 25px 25px 25px;
    background-color: rgb(77, 72, 72);
    width:320px;
    height:50px;
    margin:7px 0px 4px 0px;
    display: inline-block;
    position: relative;
}
.bottomicon{
    width:290px;
    height:40px;
    margin:4px 0px 0px 15px;
    position: absolute;
}
.bi-window-dock{
    font-size: 25px;
    margin:4px 0px 0px 2px;
    display: inline-block;
}
input{
    color:white;
    size:20px;
    background-color: black;
    border: 1px solid black;
    border-radius: 10px;
    height: 30px;
    margin:5px 0px 0px 10px;
    padding: 0px;
    display: inline-block;
    position: absolute;
}
.bi-paperclip{
    font-size: 25px;
    margin:4px 0px 0px 180px;
    display: inline-block;
    position: absolute;
}
.bi-currency-rupee{
    font-size: 25px;
    margin:4px 0px 0px 200px;
    display: inline-block;
    position: absolute;
}
.bi-camera{
    font-size: 25px;
    margin:4px 0px 0px 230px;
    display: inline-block;
    position: absolute;
}
.mic{
    background-color: rgb(6, 110, 6);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 5px;
    display: inline-block;
    position:relative;
}
.micicon{
    position: absolute;
}
.micicon i{
    margin-top: 8px;
    margin-left: 9px;
    font-size: 30px;
    position: absolute;
}