h3{
    margin-top: 50px;
    text-align: center;
    font-size: 30px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.container{
    height: 700px;
    display:flex;
    justify-content: center;
}
.cont1{
    margin-top:30px;
    width: 900px;
    height: 200px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap:20px;
}
.sub{
    border: 3px solid darkgray;
    border-radius: 20px;
    width: 200px;
    height: 255px;
    position: relative;
}
img{
    width: 100%;
    height: 100%;
    border-radius: 18px;
}
p{
    margin:0;
    border-radius: 18px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 30px;
    width: 200px;
    height: 255px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top:0px;
    opacity: 0;
    transition: all 1s ease;
}
.sub:hover img{
    opacity: 0;
}
.sub:hover p{
    opacity:1;
    background-color: black;
    color:white;
    font-size: 40px;
}