.container{
    height:700px;
    padding:10px 180px;
    text-align:center;
}
.main{
    width:250px;
    display: inline-block;
    margin:6px;
}
.main2{
    margin-top:-10px;
}
img{
    width:100%;
}