.container{
    height:200px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.cont1{
     border:2px solid grey;
     background-color: rgb(42, 41, 41);
     color: rgb(186, 182, 182);
     border-radius: 20px;
     padding: 10px;
     width: 1140px;
     display: flex;
     gap:15px;
}
i{
    font-size: 35px;
}
.icons p{
    margin-top: 3px;
    
}
.icons{
    text-align: center;
    width: 90px;
    height: 70px;
    position: relative;
    left: 30px;
}
.icon-7{
    color: green;
}
sup{
    font-size: 15px;
    text-align:center;
    position: absolute;
    top:7px;
    left: 65px;
}
.bi-chevron-down{
    font-size: 15px;
    text-align:center;
    position: absolute;
    top:8px;
    left: 85px;
}
.cont2{
     width:500px;
     height: 30px;
     display: flex;
}
.main1{
    border-radius: 0px 0px 0px 10px;
    background-color: rgb(125, 190, 125);
    color: rgb(65, 57, 57);
    width: 75%;
    display: flex;
    gap:30px;
}
.main1 p{
    margin-top: 4px;
    padding-left: 60px;
}
.cont2 i{
    margin-top: 6px;
    margin-left: 10px;
    font-size: 10px;
}
.main2{
    border-radius: 0px 0px 10px 0px;
    width: 25%;
    background-color: rgb(225, 86, 86);
    display: flex;
}
.main2 p{
    margin-top: 2px;
    padding-left: 14px;
}