.head2,.head3{
    background-color: white;
    color:black;
    font-size: 14px;
}
.head4{
    color:rgb(2, 47, 10);
}
strong{
    color:rgb(7, 5, 1);
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
}
*{
    color:white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 14px;
}